<div class="row">
  
 <div class="col-md-2" style="background-color: Gainsboro; height:50px;  line-height: 50px; font-size: 18px; font-family: Verdana" > 
 	<%= link_to 'Главная страница', pages_path %> 
 	
 </div>
    
 <div class="col-md-2" style="background-color: Gainsboro; height:50px; line-height: 50px; font-size: 18px; font-family: Verdana">
 	<%= link_to 'Админ', new_page_path %> 
 </div>

 <div class="col-md-2" style="background-color: Gainsboro; height:50px">
 </div>

 <div class="col-md-4" style="background-color: Gainsboro; height:50px">
 </div>

  <div class="col-md-2" style="background-color: Gainsboro; height:50px; line-height: 50px; font-size: 18px; font-family: Verdana">
 	<%= link_to 'Выход', destroy_admin_session_path, method: :delete  %> 
 </div>


</div>

